<% include partials/header.ejs %>


<p>
  <h2>Home</h2>
  <%=homeStartingContent%>
</p>

<% posts.forEach(function(post) { %>
  <h2>
    <a href="/posts/<%=_.kebabCase(post.title)%>">
      <%=post.title%>
    </a>
  </h2>
  <p>
    <%-post.content.substring(0, 100) + "..."%>
    <a href="/posts/<%=_.kebabCase(post.title)%>">
      Read More
    </a>
  </p>
<% }); %>



<% include partials/footer.ejs %>
